<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Search Results for "<%= query %>"</h1>
    <h2 align="center">Search by Titles</h2>
    <ul>
        <% poemsByTitle.forEach(poem => { %>
            <li>
                <h2><%= poem.title %></h2>
                <p><%= poem.body %></p>
                <p>By <%= poem.author %></p>
                <a href="/poems/<%= poem._id %>/edit">Edit</a>
                <form action="/poems/<%= poem._id %>/delete" method="POST">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }) %>
    </ul>

    <h2 align="center">Search by Authors</h2>
    <ul>
        <% poemsByAuthor.forEach(poem => { %>
            <li>
                <h2><%= poem.title %></h2>
                <p><%= poem.body %></p>
                <p>By <%= poem.author %></p>
                <a href="/poems/<%= poem._id %>/edit">Edit</a>
                <form action="/poems/<%= poem._id %>/delete" method="POST">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }) %>
    </ul>
</body>
</html>
